@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* primary color : Crimson red : #E11D48 Main accents, progress bars*/
/* Button/CTA : Bright Violet : #A855F7 Submit, Add Task buttons*/
/* background : clean white : #FAFAFA All screens, minimal look*/
/* secondary : red brown : #2D1C1C Body text and borders*/
/* accent : sunny yellow : #FACC15 Star marks, priority tasks*/
@theme {
    --font-sans: 'Poppins', sans-serif;

    --color-primary: #E11D48;
    /* Crimson Red */

    --color-btn: #A855F7;
    /* Bright Violet */

    --color-app-bg: #FAFAFA;
    /* Clean White */

    --color-body-text: #2D1C1C;
    /* Red Brown */

    --color-accent: #FACC15;
    /* Sunny Yellow */
}